@import '../../theme/_mixins.scss';

// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  @include background-cover;

  .inline{
  	display:inline;
  }

  .backspaced{
  	display:none;
  }
  .typing .backspaced{
  	display: inline;
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;

  }
  h1 {
    font-size: 8vw;
    font-family: 'Pompiere', sans-serif;
    font-weight: 300;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
